.header-contaier{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.header-left{
    display: flex;
    flex: 0.6;
}
.header-menuIcon{
    display: none;
}
.header-pagination{
    display: flex;
    align-items: center;
    gap: 10px;
}
.pagination-prevButton,.pagination-NextButton{
    background-color: rgba(0,0,0,.7);
    color: white;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
}
.pagination-NextButton{
    background-color: rgba(0,0,0,.5);
}
.header-search{
    flex: 0.9;
    margin-left : 40px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius:30px;
    color: gray;
    padding: 10px;
}
.header-search > input {
    border: none;
    width: 80%;
    outline: none;
    color: gray;
}
.header-profil{
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 3px 10px;
    background-color: rgba(0,0,0,.7);
    border-radius: 23px;
    height: 32px;
    cursor: pointer;
}
.header-profil *.MuiAvatar-root {
    width: 28px;
    height: 28px;
    object-fit: contain;
}
.header-profil  h4 {font-size: 0.875rem;}

@media only screen and (max-width: 600px) {
    .header-contaier{
        margin: 0 20px;
    }
    .header-profil{
       gap: 2px;
    }
    .profil-name{
        display: none;
    }
    .header-search{
        margin-left: 10px;
    }
    .header-menuIcon{
        display: flex;
        align-items: center;
        margin-right: 10px;
        opacity: 0.6;
    }
    .header-menuIcon:hover{
       opacity: 1;
    }
    
}
@media only screen and (max-width: 800px) {
    .header-pagination{
        display: none;
    }
    .header-left{
        flex: 0.8;
    }
    .header-search{
        margin-left: 0px;
    }
}
@media only screen and (min-width: 900px) and (max-width:1000px){
    .header-left{
        flex: 0.8;
    }
}