.sideBar-container{
    height: 90vh;
    flex:0.2;
    min-width: 230px;
    background-color: #040404;
    color: white;
    padding: 0 10px;
    overflow-y: overlay;
}
.sideBar-container::-webkit-scrollbar {
  display: none;
}
.header-top{
  display: flex;
  align-items: center;
}
.sideBare-logo{
    height: 60px;
    padding: 10px;
    margin-right: auto;
}
.sideBar-container > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
    
  }
  .sidebar-title {
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
  }
  .player-modal>.sideBar-container{
    height: 100vh;
  }
  @media only screen and (max-width: 600px) {
    .palyer-body>.sideBar-container{
      display: none;
    }
    .sideBare-logo{
      padding: 20px 0px
    }
  }
  @media only screen and (min-width: 600px) {
    .player-modal{
      display: none;
    }
  }