.sideBar-container{
    height: 90vh;
    flex:0.2;
    min-width: 230px;
    background-color: #040404;
    color: white;
    padding: 0 10px;
    overflow-y: overlay;
}
.sideBar-container::-webkit-scrollbar {
  display: none;
}
.sideBare-logo{
    height: 60px;
    padding: 10px;
    margin-right: auto;
}
.sideBar-container > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
    
  }
  .sidebar-title {
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
  }